@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mont: 'Montserrat', sans-serif;
}

body {
  background-color: #f8f9fa; /* Light background */
  color: #212529; /* Dark text */
}
